.site-wrapper {
	display: flex;
	color: $fontColor;
	justify-content: center;
	/* background: #f6f6f6; */
	.ant-pagination {
		color: #fff;
		margin-top: 1rem;
		.ant-pagination-item-link {
			color: #fff;
		}
		.ant-pagination-prev,
		.ant-pagination-next {
			background: transparent;
		}
		.ant-pagination-disabled a {
			color: rgba(255, 255, 255, .6);
		}
		.ant-pagination-item a {
			color: #fff;
		}
		.ant-pagination-item-active {
			background: transparent;
			border-color: transparent;
			a {
				color: #1890ff;
			}
		}
	}
}
.site-box {
	width: 694px;

}
.site-container {
	width: 100%;
	/* background: #fff; */
	/*position: relative;*/
	/*z-index: 1;*/

	.site-item:not(:last-child) {
		margin-bottom: 4px;
	}
}


.right-content {
	margin-left: 10px;
	margin-top: 10px;
}