.header {
	color: $fontColor;
	height: $headerHeight;
	position: fixed;
	background: #000;
	width: 100%;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	.logo-ctn {
		display: flex;
    align-items: center;
		a {
			margin-right: 15px;

		}
		img {
			width: 45px;
		}
	}
	.max-container {
		display: flex;
    /*flex-direction: row-reverse;*/
    justify-content: space-between;
		.user-ctn {
			.user-btn {
				color: $fontColor;
			}
		}
		.ant-input-group-addon {
			background-color: transparent;
			.ant-btn {
				/*border-left: none;*/
			}
			.ant-btn:hover {
				border-color: $borderColor;
			}
		}
	}
}
