.self-wrapper {
	.self-line {
		/* display: flex;
		flex-direction: column; */
		label {
			color: #fff;
			display: block;
		}
		.img-ctn {
			/*text-align: center;*/
			cursor: pointer;
			img {
				max-width: 90%;
				max-height: 200px;
			}
		}
	}
	.self-line {
		.inline {
			display: flex;
			.code {
				background: #fff;
			}
		}
	}
	.self-line:not(:last-child) {
		margin-bottom: .8rem;
	}
	.self-line.must {
		label:first-child::after {
			content: '*';
			color: red;
		}
	}
}
.self-modal-wrapper {
	.self-wrapper {
		padding: 24px;
	}
}
.self-footer {
    /* padding: 10px 16px;
    text-align: right;
    background: transparent;
    border-top: 1px solid #f0f0f0;
    border-radius: 0 0 2px 2px; */
    button + button {
	    margin-bottom: 0;
	    margin-left: 8px;
	}
}
.ant-input.error,
.ant-input.error:hover,
.ant-input.error:focus {
	border-color: red;

}
.ant-btn:hover, 
.ant-btn:focus, 
.ant-btn:active, 
.ant-btn.active,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-menu.ant-menu-dark,
.ant-modal-content,
.ant-modal-header {
	background: transparent;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
	background: $listHoverBgColor;
	color: $fontColor;
}
.ant-select-selection-placeholder {
	opacity: .7;
}
.ant-modal-header {
	border-bottom-color: $borderColor;
}
.ant-modal-footer {
	border-top-color: $borderColor;
}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a,
a,
.ant-pagination-options-quick-jumper input,
.ant-input-password-icon,
.ant-empty-description,
.ant-modal-title,
.ant-modal-close-x,
.ant-select-item,
.ant-select-multiple .ant-select-selector,
.ant-select-multiple .ant-select-selection-item-remove,
.ant-message-notice-content,
.ant-btn,
.ant-input {
	color: $fontColor;
}
.ant-btn-primary {
	color: #1890ff;
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
	background: $listHoverBgColor;
}
.ant-dropdown-menu-item > a:hover, 
.ant-dropdown-menu-submenu-title > a:hover {
	color: $fontColor;
}
.ant-input-password-icon:hover,
.ant-select-multiple .ant-select-selection-item-remove:hover {
	color: $hoverWhiteColor;
}
.ant-message-notice-content,
.ant-select-dropdown {
	background: rgba(5, 6, 8, .5);
	border-color: $borderColor;
	box-shadow: $smallBoxShadow;
}
.ant-btn,
.ant-select-multiple .ant-select-selector,
.ant-select-multiple .ant-select-selection-item,
.ant-input {
	background: transparent;
	border-color: $borderColor;
}

.ant-modal-content {
	background: rgba(5, 6, 8, .5);
	color: $fontColor;
	box-shadow: $bigBoxShadow;
	animation: box 3s linear infinite;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
	color: $fontColor;
	border-color: $borderColor;
}
.ant-dropdown-menu,
.ant-pagination-options-quick-jumper input,
.ant-input-affix-wrapper {
	background: transparent;
	border-color: $borderColor;
}

.ant-dropdown-menu {
  box-shadow: $smallBoxShadow;
}
.ant-btn-link {
  color: #1890ff;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.ant-spin-container::after {
	background: transparent;
}
@keyframes box {
  from {
    box-shadow: $bigBoxShadow;
  }
  50% {
    box-shadow: 0 0 104px 10px $shadowColor;
  }
  to{
    box-shadow: $bigBoxShadow;
  }
}

/**/
.container {
	padding-top: $headerHeight + 10px;
}
.max-container {
	width: 1000px;
}